html 
    head 
    title This is pug 
    body 
    h1  Hlo from pub package
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quibusdam sequi, quasi quas accusantium similique? Ipsa laudantium nulla cupiditate similique saepe et. Dolor nihil, officia aperiam ratione asperiores ab laborum.
    button Click Here !